:root {
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --primary-light-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  min-width: 1200px;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.link.current {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*-----------------Шапка-------------------------*/

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  align-items: center;
  display: flex;
}

.header-logo {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;

  margin-right: 93px;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.nav-list,
.header-contacts {
  display: flex;
  align-items: center;
}
.nav-item {
  display: block;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.header-contacts {
  margin-left: auto;
}

.contacts-item:not(:first-child) {
  margin-left: 50px;
}

.mail-icon {
  margin-right: 10px;
  fill: currentColor;
}

/*-----------------Герой-------------------------*/

.hero {
  display: block;
  max-width: 1600px;
  max-height: 600px;
  background: rgba(47, 48, 58, 0.4);
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.hero-container {
  text-align: center;
}

.hero-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-light-color);
  margin: 0 auto 30px;
}
.hero-btn {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-light-color);
  background: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 10px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
}

/*-----------------Особливості-------------------------*/

.features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  margin-bottom: 10px;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  max-width: 270px;
}

.features-list {
  display: flex;
}

.features-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/*-----------------Чим ми займаємося-------------------------*/
.activity {
  padding-bottom: 94px;
}

.activity-list {
  display: flex;
  gap: 30px;
}

.activity-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

/*-----------------Наша Команда-------------------------*/
.team {
  background: #f5f4fa;
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.team-card {
  background: var(--primary-light-color);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.icon-list {
  display: flex;
  justify-content: center;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: currentColor;
}

.team-social-item:not(last-child) {
  margin-right: 10px;
}

.social:hover,
.social:focus {
  color: var(--primary-light-color);
  background-color: var(--accent-color);
}

/*-----------------Постійні клієнти-------------------------*/

.regular-clients-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  justify-content: center;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client-logo {
  fill: currentColor;
}

.client-icon:not(:last-child) {
  margin-right: 30px;
}
/*-----------------Футер-------------------------*/

.footer {
  background: #2f303a;
}

.footer-section {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 70px;
}

.social-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-lincs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-lincs-item:not(:last-child) {
  margin-right: 10px;
}

.elipse {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.elipse:hover,
.elipse:focus {
  background-color: var(--accent-color);
}

.social-icon {
  fill: var(--primary-light-color);
}

.footer-logo {
  display: inline-block;
  color: var(--primary-light-color);
  margin-bottom: 20px;
}

.footer-item {
  margin-bottom: 9px;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
  color: var(--primary-light-color);
}

/*-----------------!!!!Портфоліо!!!-------------------------*/

/*-----------------Фільтр-------------------------*/

.filter-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-light-color);
  background: #188ce8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.first-btn {
  padding: 6px 25px;
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

/*----------------Елеманти Портфолио-------------------------*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  max-width: 370px;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card {
  padding: 20px 24px;
  background: var(--primary-light-color);
  border: 1px solid #eeeeee;
  border-top: 0px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
